registry=https://nexus.tools.squads-dev.com/repository/npm-public/
always-auth=true
//nexus.tools.squads-dev.com/repository/npm-skillsoft/:_auth=ZGVwbG95bWVudDpTZXJpT3VzbHlOb3RUaGlzMSE=
//nexus.tools.squads-dev.com/repository/npm-public/:_auth=ZGVwbG95bWVudDpTZXJpT3VzbHlOb3RUaGlzMSE=
email=CHANGEME@skillsoft.com 